html
	head
		meta(charset="UTF-8")
		title Timestamp-microservice
		link(rel="stylesheet", href="/css/main.css")
		link(link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet")
	body
		div.container
			p UNIX timestamp
			p= unix
			br
			p Human Language Timestamp
			p= human